.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 811px;
}

.u-section-1 .u-group-1 {
  min-height: 668px;
  width: 662px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-form-1 {
  margin: 30px 0 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 17px;
  }
}